
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&family=Plaster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
        /*========== Colors ==========*/
    /*Green gradient*/
    --body-color: linear-gradient(102deg, #0a0924 2%, #000000 50%, #0a0924 80%);
    /* --body-color: linear-gradient(90deg,#003159 , #01101f 100%); */
    --text-color: rgb(255, 255, 255);
    --open-color: #111;
  }
  
*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: var( --body-color);
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    cursor:none;
}


/* font-family: 'Krona One', sans-serif; */

body::-webkit-scrollbar{
    display: none;
}

/* Cursor section start  */
.inner-cursor{
    z-index: 10;
    position: fixed;
    left: 10px;
    /* width: 8px;
    height: 8px; */
    transform: translate(-50%,-50%);
    /* background-color: #ffffff; */
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor{
    z-index: 10;
    position: fixed;
    left: 10px;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition:all 0.1s ease;
}

/* Cursor section end  */


/* spalash screen */

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--open-color) ;
    transition: .8s;
}

.logo-splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.logo-content{
    position: relative;
    display: inline-block;
    bottom: -40px;
    opacity: 0;
    margin: 5px;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'poppins';
}

.logo-content.active{
    opacity: 1;
    bottom: 0;
    transition: ease-in-out 0.6s;
}
.logo-content.fade{
    bottom: 150px;
    opacity: 0;                         
    transition: ease-in-out .4s;
}




.container{
    margin: 0 6rem 0 6rem;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    cursor: pointer;
    
}

.socialmedia .icon{
    cursor: pointer;
    font-size: 1rem;
    margin:.2rem 0;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.71);
    border-radius: 50%;
}
.socialmedia a{
color: var(--text-color);
    text-decoration: none;
}
.socialmedia .icon a:hover{
color:#283D3B;
}

.socialmedia .icon:hover{
    color: #283D3B;
    background-color: #EDDDD4;
    transition: all .2s ease;
}

/* Progress animation section start */
.progress-section{
    position: fixed;
    bottom: 2rem;
    left: 5rem;
    width: 60px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transition: .3s ease-out;
}

.progress-bar-wrap{
    position: relative;
    width: 5px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.198);
}

.progress-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #EDDDD4;
}

.progress-num{
    font-size: 1rem;
}
/* Progress animation section end */

/* navigation section start */


.logo{
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed;
    top:3rem;
    left: 5rem;
}
.menu-icon{
    font-size: 1.2rem;
    position: fixed;
    top:3rem;
    right: 5rem;
    text-decoration: none;
    cursor: pointer;
    
}
.menu-icon:hover{
    font-size: 1.4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6d6c6c;
    -webkit-text-fill-color: transparent;
}


/* menu */
nav{
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: -100vh;
    background-color: #000000;
    transition: .5s;
}

nav.active-menu{
    top: 0%;
    transition: 1s;
}

nav ul{
position: absolute;
left: 12%;
top: 20%;
list-style: none;
height: 55%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.nav-link{
    position: relative;
    color: var(--text-color);
    left: 0;
    text-decoration: none;
    font-size: 2rem;
    transition: 1s;
    cursor: pointer;
}

.nav-link:hover{
    left: 15%;
    transition: .5s;
}
.menu-close{
    position: absolute;
    font-size: 1.5rem;
    top:3rem;
    right: 5rem;
    cursor: pointer;
}

/* navigation section end */

/* landing section start */

.landing-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}



.landing-section h1{
    font-family: 'Plaster', cursive;
    font-size: 3.5rem;  
    color: var( --text-color); 
    

}
.landing-section p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: .8rem;
    color: var( --text-color); 
}   

.title-icon{
    margin: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var( --text-color); 
}

.icon-base{
    margin: .5rem;
    padding: 1.3rem;
    font-size: 1.2rem;
    opacity: .8;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-base:hover{
    background-color: #ffffffe3;
    color: #0f1818;
}

.resume{
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem 1.8rem;
    border: 1px solid #fff;
    margin-top: 2.5rem;
    border-radius: 6px;
}
.resume:hover{
   color: #111;
   background-color: rgba(255, 255, 255, 0.767);
}


.scroll-down{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse{
    width:1rem;
    height: 2rem;
    /* border: 1px solid #fff; */
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mouse span{
    width: .5rem;
    height: .5rem;
    /* background-color:#fff; */
    border: 1px solid #fff;
    display: block;
    border-radius: 50%;
    animation: move-wheel 1.2s linear infinite;
}
.arrow span{
    display: block;
    width: .8rem;
    height: .8rem;
    border: 1px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    transform: rotate(45deg);
    animation: arrow-down .5s alternate infinite;
}

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(.6rem);
    }
}
@keyframes arrow-down {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
      
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: .9;
    }
}


/* landing section end */

section{
    
    width: 100%;
    height: 120vh;
    margin: 0 0 0 0;
}
.section-title{
    padding: 3rem;
    margin: 0 0 5rem 6rem;
    font-size: 1.5rem;
}

/* about section  start*/

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-me>.img{
    padding: 10px;
}
.about-me img{
    width: 17rem; 
    object-fit: cover;
    border-radius: 6px;
}
.about-me .about-content{
    width: 400px; 
    margin-left: 3rem;
    line-height: 1.4;
}
.about-me .about-content h2{
    margin-bottom: 1.5rem;
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.about-me .about-content p{
    margin-bottom: 2rem;
    letter-spacing: .6px;
    font-weight: 350;
    font-size: 1.1rem;
}

.about-me .about-content span{
    font-size: 1.1rem;
    font-weight: 700;
}
.about-me .about-content a{
    color: #EDDDD4;
    margin-left: .6rem;
    font-size: 1rem;
    font-weight:500;
}

/* about section  end*/
















/* screen sizes */


/* laptop */


/* tablet */


/* mobile */

